<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <title>{{ page.title }}</title>
    <meta name="author" content="Jesús de Mula Cano"/>
</head>
<body>

<div class="site">
    <div class="title">
        <a href="/">Jesús de Mula Cano</a>
        <a href="/">Home</a>
    </div>

    {{ content }}

    <div class="footer">
        <div class="contact">
            <p>
                Jesús de Mula Cano<br/>
                jesus@demula.name
            </p>
        </div>
        <div class="contact">
            <p>
                <a href="http://github.com/demula/">github.com/demula</a>
                <a href="http://twitter.com/demula/">twitter.com/demula</a>
            </p>
        </div>
    </div>
</div>

</body>
</html>